.container {
  @apply pt-8  nav-height md:h-[100vh] bg-gray-200;
  position: relative;

  .itemsBlock {
    @apply max-w-[600px] mx-auto;

    h1 {
      @apply uppercase text-3xl tracking-tighter italic font-medium text-primary   mt-2 mb-6 mx-auto md:mb-10 pl-2  pb-2 border-b border-b-gray-450;
    }
    .toggleButton {
      @apply flex  flex-col   mt-0 justify-center max-w-[1440px]  gap-2 bg-gray-200 rounded-2xl mx-2  md:mx-auto;

      .button {
        @apply text-xl    bg-[#e7e7e7] min-h-[80px] px-4 text-start
          w-full cursor-pointer rounded-3xl;
        transition: background-color 0.3s, transform 0.2s ease-in-out,
          box-shadow 0.3s;
      }
      
      .button:active {
        @apply bg-blue-500 text-white;
        box-shadow: 0 0 10px rgba(59, 130, 246, 0.2); /* Тень для активного элемента */
        transform: scale(1.01); /* Легкое увеличение размера */
      }
    }
  }
  .bottomBlock {
    @apply absolute bottom-[0%] border-gray-300 border-t w-full flex items-center justify-center;

    p {
      @apply text-xl font-bold mt-3;
    }
  }
}
