.content {
  @apply my-[2.2vw] mx-[2.3vw];

  .selectedWork {
    @apply flex mb-16;

    .image {
      @apply h-full mr-[3vw] w-[45vw];
      @media (max-width: 1200px) {
        @apply w-[90vw];
      }
    }
    .title {
      @apply text-4xl mb-6 font-bold;
    }
    .description {
      @apply text-base text-gray-700;
    }

    .textBlock {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .buttons {
        @apply flex justify-between items-center mb-6;
        .button {
          @apply border-[0.1vw]    border-blue-500 bg-blue-500 text-white px-2 ml-1 py-1 text-lg rounded  transition-all ease-in-out duration-200;
          &:hover {
            @apply border-blue-800 bg-blue-800;
          }
          @media (max-width: 700px) {
            @apply text-[3vw];
          }
        }
        .secondButton {
          @apply border-[0.1vw]    border-primary bg-primary text-white px-2 ml-1 py-1 text-lg rounded  transition-all ease-in-out duration-200;
        }
        .link {
          @apply px-2 py-1  w-[50%] text-lg  border-[0.1vw] border-gray-700 rounded;

          @media (max-width: 700px) {
            @apply text-[3vw];
          }
        }

        .leftButtons {
          @apply flex items-center;
          .secondButton {
            @apply border-[0.1vw]  border-primary bg-primary text-white px-2 py-1 rounded text-lg  transition-all ease-in-out duration-200 max-w-[35vw];
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              @apply border-gray-600 bg-gray-600;
            }
            @media (max-width: 700px) {
              @apply text-[3vw];
            }
            .icon {
              @apply flex;
              > img {
                @apply w-[1vw];
                @media (max-width: 700px) {
                  @apply w-[2.5vw];
                }
              }
            }
          }
        }
      }
    }
    .link {
      @apply block w-full border-[0.1vw] rounded-2xl px-3  text-xl text-center;
    }

    @media (max-width: 1200px) {
      display: block;
      .image {
        @apply mb-6;
      }
    }
  }
}

@media (max-width: 700px) {
  .content {
    .selectedWork {
      .title {
        @apply text-2xl mb-2;
      }
    }
  }
}
