.content {
  @apply my-[2.2vw] mx-auto max-w-[1172px] relative;

  .closeButton {
    @apply fixed w-10   top-[10px] right-0;
    z-index: 100;
    color: white;
  }
  .userInfoBlock {
    .nickName {
      @apply text-xl font-semibold;
    }
  }
  .title {
    @apply text-4xl mb-6 font-bold;
  }
  .link {
    @apply p-2 w-20 h-20   rounded-full  border-[0.1vw] border-gray-300;
  }

  .selectedWork {
    @apply flex  mb-16;

    .image {
      @apply h-full rounded-xl w-full;
    }
  }
  .bottomBlock {
    .textBlock {
      @apply w-full;
      .description {
        @apply text-xl text-gray-700 font-bold;
      }
    }
  }
  .secondButton {
    @apply border-[0.1vw]  border-primary bg-primary text-white px-2 py-1 rounded-full text-lg  transition-all ease-in-out duration-200 max-w-[35vw];
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      @apply border-gray-600 bg-gray-600;
    }
    @media (max-width: 700px) {
      @apply text-[3vw];
    }
    .icon {
      @apply flex;
      > img {
        @apply w-[1vw];
        @media (max-width: 700px) {
          @apply w-[2.5vw];
        }
      }
    }
  }

  .button {
    @apply h-10 border-[0.1vw] border-gray-300 rounded-full px-2 mr-2 py-1 text-lg   transition-all ease-in-out duration-200;
    &:hover {
      @apply bg-gray-300;
    }
    @media (max-width: 700px) {
      @apply text-[3vw];
    }
  }
  .link {
    @apply h-10  w-full border-[0.1vw] rounded-full  px-2 mr-2 py-1;
    &:hover {
      @apply bg-gray-300;
    }
  }

  @media (max-width: 1200px) {
    display: block;
    .image {
      @apply mb-6;
    }
  }
}

.setMainWorkButton {
  @apply absolute z-20 text-white text-base border-gray-700 mt-2 ml-2 bg-white/30 px-2 rounded-lg h-8 backdrop-blur-[10px] hover:bg-gray-500/30;
}

@media (max-width: 700px) {
  .content {
    @apply mx-0 max-w-full;
    .closeButton {
      @apply justify-end mb-4  block text-primary absolute bottom-0 right-0 -top-7;
    }

    .title {
      @apply text-2xl mb-2 mx-2 mt-10;
    }
    .userInfoBlock {
      @apply mx-2;
      .nickname {
        @apply text-base font-semibold inline-block ;
        width:90% ;
        overflow: hidden;
        white-space: nowrap; /* Предотвращает перенос текста */
        text-overflow: ellipsis;
      }
    }
    .selectedWork {
      .image {
        @apply m-0 w-full;
      }
    }
    .bottomBlock {
      @apply mx-3;
      .textBlock {
        @apply mx-0 max-w-[97vw];
      }
    }
  }

  .setMainWorkButton {
    @apply text-xs;
  }
}
