.popupContainer {
  position: relative;
  display: inline-block;
}

.imageBlock {
  position: fixed;
  top: 100%;
  left: -50%;
  transform: translate(127vw, -75vh);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  width: 300px;
}
@media (max-width: 700px) {
  .imageBlock {
    left: -0%;
  }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.title {
  font-size: 1.2em;
  margin: 0;
}

.subscription {
  margin: 0.5em 0;
  color: #666;
}
