.block {
  @apply mt-[9vh];
  .links {
    @media (max-width: 800px) {
      display: flex;
      flex-direction: column;
      a {
        @apply text-[4vw];
        min-width: 100vw;
        &:first-child {
          border: none;
          border-bottom: 1px solid black;
        }
      }
    }

    @apply text-[3.5vw];

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    a {
      @apply py-[14%];
      width: 50%;
      flex: 1 0 auto;
      &:first-child {
        border-right: 1px solid black;
      }
    }

    a:hover {
      @apply bg-[#E7F5FF];
    }
  }
  p {
    margin: 0 auto;
    width: 50vw;
    @apply text-[2.8vh] text-center mt-[5vh];
    @media (max-width: 800px) {
      @apply w-[90vw];
    }
  }
}

.container {
  @apply text-center text-white;

  .iconContent {
    @apply h-[75vh] relative;

    background: url("../../../../components/common/images/ui/mainPage/MainPageCover.jpg")
      no-repeat center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 30vh;
    padding-bottom: 30vh;
    &::before {
      @apply absolute inset-0 bg-primary opacity-50;
      content: "";
      z-index: -1;
    }

    img {
      @apply w-[30vw];
      margin: 0 auto;
      z-index: 1;
    }

    h4 {
      @apply mt-[3vw] text-[1.5vw] z-10;
    }
  }
  .detailed {
    padding: 3vw 0px;
    @apply bg-primary text-[2.6vw];
    
  }
  @media (max-width: 700px) {
    .iconContent {
      @apply h-[80vh];
      img {
        @apply w-[60vw];
      }
      h4 {
        @apply text-[5vw];
      }
      
    }
    .detailed{
      @apply text-[5vw] py-[6vw];
    }
  }
}
