.container {
  @apply -mt-[7vh];

  .mainBlock {
    @apply h-[100vh] flex overflow-hidden;
    position: relative;
    background-color: #e8e9ee;

    .leftBlock {
      @apply w-[48%] h-full;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      left: 25%;

      .logoBlock {
        @apply py-[9vh] bg-white rounded-b-[120px];
        > img {
          @apply mx-auto;
        }
        .title {
          @apply text-center text-3xl font-bold;
        }
      }

      .buttons {
        .middleButtons {
          @apply text-center bg-white rounded-[100px] my-14 px-40 py-20;

          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          a:first-child {
            @apply text-blue-500 uppercase font-bold py-6 mb-8 border-[3px] rounded-[30px] border-blue-500 text-3xl bg-white p-2;
            transition: all 0.2s ease-in-out; /* Добавляем плавность для изменения цвета фона */

            &:hover{
                @apply bg-gray-600 text-white border-gray-600;
            }
          }
          a:last-child {
            @apply text-white uppercase font-bold py-6 border-2 rounded-[30px] border-white text-3xl bg-blue-500 p-2;
            transition: background-color 0.2s ease-in-out; /* Добавляем плавность для изменения цвета фона */

            &:hover{
                @apply bg-gray-600;
            }
          }
        }

        .bottomButtons {
          @apply text-4xl text-center bg-white font-bold rounded-t-[120px] py-[5vh];
          display: flex;
          flex-direction: column;
          a:first-child {
            @apply uppercase text-5xl font-bold mb-4 ;
          
            &:hover {
              @apply underline;
            }
          }
          .registerBlock {
            @apply flex mx-auto;
            a {
              @apply underline;
            }
          }
          .blockForAuth {
            @apply flex flex-col mx-auto;

            .userData {
              @apply flex items-center;
              .avatarWrapper {
                @apply relative;

                &::before {
                  content: "";
                  @apply absolute inset-0 -top-[2px] -left-[2px] -right-[2px] -bottom-[2px] rounded-full bg-blue-500 opacity-60 shadow-lg;
                }
              }

              .image {
                @apply rounded-full w-16 h-16 relative z-10 image-like-bg; /* 100px */
              }

              .textBlock {
                @apply flex flex-col ml-2;
                .nickName {
                  @apply text-xl text-gray-700 mr-auto;
                }
                .email {
                  @apply text-lg text-gray-500;
                }
              }
            }
          }
        }
      }
    }

    .rightBlock {
      @apply w-[100%] h-full;
      z-index: 0;
      position: absolute;
      right: 0;
      top: -50px;

      .gallery {
        @apply mx-auto;
        transition: transform 0.5s ease;
        .masonryGallery {
          @apply flex gap-[1vw] min-h-[200px];
          .image {
            @apply transition-all mb-4 rounded-lg opacity-0 duration-300;
          }
          .hover {
            @apply absolute rounded-lg w-full h-full flex bg-opacity-50 text-white;
            flex-direction: column;
            justify-content: space-between;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            z-index: 10;
            pointer-events: none;
            .hoverTitle {
              @apply flex p-3;
            }
            .hoverTimeUpload {
              @apply flex border-t-[1px] border-gray-400 p-3;
            }
          }
        }
      }
    }

    .rightBlock::after {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }

    .mainRightBlock {
      max-height: 100vh;
      z-index: 2;
      background-color: #e8e9ee;
    }

    .titleGallery {
      @apply text-3xl text-center mb-4;
      animation: fadeInAnimation 1s ease-in;
    }
  }
}

/* Медиа-запросы */
@media (min-width: 2560px) {
  .container {
    .mainBlock {
      .leftBlock {
        .logoBlock {
          @apply rounded-b-[140px];
          > img {
            @apply w-[950px];
          }
          .title {
            @apply text-5xl font-bold;
          }
        }
        .buttons {
          .middleButtons {
            @apply rounded-[140px] px-44 py-24;
            a:first-child {
              @apply text-[42px] border-[5px] mb-10 py-10 rounded-[50px];
            }
            a:last-child {
              @apply text-[42px] py-10 rounded-[50px];
            }
          }
          .bottomButtons {
            @apply text-5xl rounded-t-[140px] py-[5vh];
            a:first-child {
              @apply text-6xl mb-6;
            }

            .blockForAuth {
              .userData {
                .image {
                  @apply rounded-full w-20 h-20 relative z-10; /* 100px */
                }

                .textBlock {
                  @apply ml-3;
                  .nickName {
                    @apply text-2xl;
                  }
                  .email {
                    @apply text-xl;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .container {
    .mainBlock {
      .leftBlock {
        .logoBlock {
          @apply rounded-b-[80px];
          > img {
            @apply w-[450px];
          }
        }
        .buttons {
          .middleButtons {
            @apply py-14 px-20 rounded-[80px] my-8;
            a:first-child {
              @apply text-2xl border-[2px] mb-3 py-4 rounded-3xl;
            }
            a:last-child {
              @apply text-2xl border-[2px] py-4 rounded-3xl;
            }
          }
          .bottomButtons {
            @apply rounded-t-[80px] text-2xl;
            a:first-child {
              @apply text-3xl mb-2;
            }
            .blockForAuth {
              .userData {
                .image {
                  @apply rounded-full w-12 h-12 relative z-10; /* 100px */
                }

                .textBlock {
                  @apply ml-3;
                  .nickName {
                    @apply text-lg;
                  }
                  .email {
                    @apply text-base;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .container {
    @apply h-full;
    .mainBlock {
      .leftBlock {
        @apply w-full left-0;
        .logoBlock {
          @apply rounded-b-[48px] py-[3vh];
          img {
            @apply w-[300px];
          }
          .title {
            @apply text-xl;
          }
        }
        .buttons {
          .middleButtons {
            @apply rounded-t-[48px] rounded-b-none my-0 py-6 px-6;
            a:first-child {
              @apply text-[5vw];
            }
            a:last-child {
              @apply text-[5vw];
            }
          }
          .bottomButtons {
            @apply rounded-none pt-0;
            .registerBlock {
              @apply text-lg;
            }
          }
        }
      }
      .rightBlock {
        .gallery {
          @apply pl-0;
          .masonryGallery {
            @apply mx-2;
            .image {
              @apply mb-2;
            }
          }

          .hover {
            @apply absolute rounded-lg w-full h-full flex bg-opacity-50 text-white;
            flex-direction: column;
            justify-content: space-between;
            background: rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(10px);
            z-index: 10;
            pointer-events: none;
            .hoverTitle {
              @apply h-0;
              display: none !important;
            }
            .hoverTimeUpload {
              font-size: 0.4vw !important;
              padding-top: 5px !important;
              padding-left: 5px !important;
              border-top: none !important;
            }
          }
        }
      }
    }
  }
}
