.header {
  @apply md:flex h-28 md:h-[100vh]  absolute 
     md:w-[15%] w-full  bg-transparent md:bg-[rgba(255,255,255,0.3)] 
      md:flex-col items-end py-8 md:py-16 px-10 justify-between z-10
      md:backdrop-blur-md;
  
    .logoBlock {
      @apply w-[10vw] h-auto mb-4;
      .image {
        @apply w-full;
      }
    }
  
  @media (max-width: 800px) {
    .logoBlock {
      @apply w-full h-full;
      mix-blend-mode: difference;

      img {
        @apply h-full w-1/2 mx-auto;
      }
    }
  }

  .authButtons {
    @apply hidden md:flex flex-col font-bold items-start mr-auto;
    
  }

  .blockForAuth {
    @apply flex flex-col mx-auto;

    .userData {
      @apply flex items-center;
      .avatarWrapper {
        @apply relative;

        &::before {
          content: "";
          @apply absolute inset-0 -top-[2px] -left-[2px] -right-[2px] -bottom-[2px] rounded-full bg-blue-500 opacity-60 shadow-lg;
        }
      }

      .image {
        @apply rounded-full w-16 h-16 relative z-10 image-like-bg; /* 100px */
      }

      .textBlock {
        @apply flex flex-col ;
        .nickName {
          @apply text-base text-gray-700 mr-auto;
        }
        .email {
          @apply text-sm text-gray-500;
        }
      }
    }
  }
}
