.wrapper {
  @apply w-[90%] max-w-[1736px]  mx-auto   h-[9vh] ;

  .navigationAuth {
    @apply h-[9.5vh];
    align-items: center;

    display: flex;

    .buttons {
      @apply text-[2.3vh] text-white flex items-center h-full;
    }
  }
  .navigationNotAuth {
    @apply h-[9.5vh];

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    @apply text-white text-xl;

    @media (max-width: 400px) {
      @apply text-[4vw];
    }
  }
  .apost {
    @apply text-xl text-white;

    @media (max-width: 400px) {
      @apply text-[4vw];
    }
  }

  .avatar {
    @apply image-like-bg rounded-full w-[10vh] h-[5vh]  mr-1;
  }
  .icon {
    @apply w-[3vh] h-[4vh];
  }
}
