.wrapper {
  @apply w-[90%] max-w-[1736px]  mx-auto   h-[9vh];

  .navigationAuth {
    @apply h-[9.5vh] gap-3;
    align-items: center;

    display: flex;
    .searchBlock {
      @apply w-[62%];
      @media (max-width: 700px) {
        @apply w-[34%];
      }
    } 
    .buttons {
      @apply relative text-[2.3vh] text-white flex items-center h-full ml-auto;

      .chatButton {
        @apply mr-[1.1vw] relative;
        .notification {
          @apply bg-blue-500;
          position: absolute;
          top: -4px; /* Вы можете настроить положение индикатора по вертикали */
          right: -8px; /* Вы можете настроить положение индикатора по горизонтали */
          width: 12px;
          height: 12px;

          border-radius: 50%; /* Делает круглый индикатор */
        }
      }
    }
  }
  .navigationNotAuth {
    @apply h-[9.5vh];

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    @apply text-white text-xl;

    @media (max-width: 400px) {
      @apply text-[4vw];
    }
  }
  .apost {
    @apply text-xl text-white;

    @media (max-width: 400px) {
      @apply text-[4vw];
    }
  }

  .avatar {
    @apply image-like-bg rounded-full w-[5vh] h-[5vh]  mr-[0.5vw];
  }
  .icon {
    @apply w-[3vh] h-[4vh];
  }
}
