.wrapper {
  @apply mt-[13vh] max-w-[1736px] mx-auto px-[1vw];
  .blockTitle {
    @apply flex justify-between mt-[2.3vw] items-center mb-10;
    .leftBlock {
      @apply text-[2vw] text-gray-600;
    }
    .rightBlock {
      @apply flex  text-[1.15vw];

      .subscribers {
        @apply flex mr-[2vw];
        > p {
          @apply text-gray-500 mr-[0.5vw];
        }
      }
      .inn {
        @apply flex;
        > p {
          @apply text-gray-500 mr-[0.5vw];
        }
      }
    }
    .blockWorks {
      .itemBlock {
        @apply flex;

        .imageBlock {
          @apply mr-10 mb-20;
        }
        .textBlock {
          @apply w-2/4;
          > h1 {
            @apply text-4xl mb-6;
          }
          > p {
            @apply text-xl;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    @apply mt-[15vh];
    .blockTitle {
      @apply mx-4;
      .leftBlock {
        @apply text-sm;
      }
      .rightBlock {
        @apply text-sm;
      }
    }
  }
}

// Модальное окно с подпиской
.container {
  @apply h-[80vh]  ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    @apply mb-16;
  }
  .textBlock {
    .description {
      @apply text-5xl;
    }
    .title {
      @apply text-2xl;
    }
  }
  .priceBlock {
    @apply flex justify-end;
    .price {
      @apply text-4xl font-bold mr-10;
    }
  }
}
