.form {
  @apply max-w-[1734px] mx-auto px-5 h-[80vh];
  .mainBlock {
    @apply w-1/2 mx-auto relative h-full mt-[10%];
    .dateBlock{
      @apply h-[80%] overflow-y-auto px-1 ;
      mask-image: linear-gradient(
        to bottom,
        black 90%,
      transparent
      ); 
      &::-webkit-scrollbar {
        display: none; /* Скрывает полосу прокрутки */
      }
    }
    @media (max-width: 700px) {
      .dateBlock{
        @apply overflow-hidden h-[100%];
        mask-image: none
      }
    }
    .topBlock {
      @apply h-[80%] flex flex-col justify-between overflow-y-auto px-1 ;
      mask-image: linear-gradient(
        to bottom,
        black 80%,
        transparent
      ); /* Убирает нижнюю часть */
      &::-webkit-scrollbar {
        display: none; /* Скрывает полосу прокрутки */
      }

      .textArea {
        @apply  resize-none border-2 rounded-2xl h-[250px] border-gray-300  bg-transparent  text-gray-700 w-full px-[1vw] text-lg;

        transition: border-color 0.3s, box-shadow 0.3s;

        @media (max-width: 700px) {
          @apply text-lg bg-white rounded-xl px-1;
        }
      }
      .textArea:hover {
        @apply border-gray-400;
        box-shadow: 0 0 0 3px rgba(#1c60c5, 0.3); /* Плавное свечение */
      }
      .textArea:focus {
        @apply border-blue-500 outline-none border-2;
        box-shadow: 0 0 0 3px rgba(#1c60c5, 0.3); /* Плавное свечение */
      }
    }
    .buttons {
      @apply mt-auto w-full absolute bottom-0 flex justify-between mb-3;

      .continueButton {
        @apply text-xl  border-2 text-center bg-blue-500 text-white px-[50px] py-[1.5vh] rounded-2xl;
        transition: background-color 0.2s ease-in-out; /* Добавляем плавность для изменения цвета фона */

        &:hover {
          @apply bg-gray-600;
        }
      }

      .backLink {
        @apply px-8 py-2 text-xl bg-gray-300 font-semibold rounded-lg my-auto;
        transition: all 0.3s ease-in-out;
        &:hover {
          @apply bg-[#dedede];
        }
      }
    }
  }
}

.addressInput {
  @apply border-2 rounded-2xl border-gray-300  bg-transparent min-h-[45px] h-[15%] text-gray-700 w-full   px-[1vw]  text-lg;

  transition: border-color 0.3s, box-shadow 0.3s;

  @media (max-width: 700px) {
    @apply text-lg bg-white rounded-xl px-1;
  }
}
.addressInput:hover {
  @apply border-gray-400;
  box-shadow: 0 0 0 3px rgba(#1c60c5, 0.3); /* Плавное свечение */
}
.addressInput:focus {
  @apply border-blue-500 outline-none border-2;
  box-shadow: 0 0 0 3px rgba(#1c60c5, 0.3); /* Плавное свечение */
}

@media (max-width: 700px) {
  .form {
    height: calc(93vh - 80px);

    .mainBlock {
      @apply w-full  mt-[8vh] pt-10;

      
      .buttons {
        @apply mb-5;
        .continueButton {
          @apply px-4 py-3 text-lg rounded-xl;
        }
        .backLink {
          @apply px-4 py-3 text-lg bg-gray-300 font-semibold rounded-xl my-auto;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
