.wrapper {
  @apply  mx-auto;
  overflow: visible; /* Разрешить видимость "выхода" за пределы .wrapper */

 
  .header {
    @apply relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.1vw; /* Высота вашего border */
      background-color: #eaeaea; /* Цвет вашего border */
      z-index: -50;
    }
    >p {
        @apply border-b-[1px] border-gray-600 text-xl pt-10 w-[206px] z-20 mb-10 ml-[10%];
      
    }
   
      
  }
  
  .fields {
    @apply mx-auto w-3/6 mt-10 max-w-[1736px];
    
    .button {
      @apply bg-primary w-full text-white text-xl h-16 rounded-2xl;
      :hover {
        @apply bg-gray-600;
      }
    }
  }
}


@media (max-width: 800px) {
  .wrapper{
    .header{
      >p{
        @apply text-base w-[156px];
      }
    }
  }
  .fields {
    width: 90% !important; 

  }
}