.accordionBlock {
  @apply w-[24vw];
  .buttons {
    @apply flex gap-5;
  }
}

@media (max-width: 700px) {
  .accordionBlock {
    .buttons {
      @apply block ;
            > button{
              @apply mb-3;
            }
    }

  }
}

.title {
  @apply text-2xl;
}
.checkBoxTitle {
  @apply text-2xl;
}

.MuiSwipeableDrawer-paper {
  @apply bg-gray-400;
}

@media (max-width: 700px) {
  .accordionBlock {
    @apply w-[40vw];
  }
  .title {
    @apply text-lg w-[30vw];
    white-space: nowrap;
    overflow: hidden; /* или overflow: auto; */
    text-overflow: ellipsis;
  }
  .checkBoxTitle {
    @apply text-base;
  }
}
