.accordionBlock {
  @apply w-[24vw] mr-[4.1vw];
 
  .closeButtonBlock {
    .closeButton {
      @apply hidden;
    }
  }
  .buttons {
    @apply flex gap-5 h-14 w-[29vw];
  }
}
@media (max-width: 700px) {
  .accordionBlock {
    @apply container flex flex-col h-full ;
    .accordionForm{
      @apply mx-[2vw]   flex flex-col justify-between h-full;
    }
    @apply w-full ;
    .closeButtonBlock {
      @apply border-b border-gray-500 w-full flex  justify-end; 
      .closeButton {
        @apply block mb-3 mr-3 ;
      }
    }
    .buttons {
      @apply  w-full flex mb-4 ;
      > button {
        @apply mb-3;
      }
    }
  }
  .title {
    @apply text-lg w-[30vw];
    white-space: nowrap;
    overflow: hidden; /* или overflow: auto; */
    text-overflow: ellipsis;
  }
  .checkBoxTitle {
    @apply text-sm pl-6;
  }
}

.title {
  @apply text-2xl;
}
.checkBoxTitle {
  @apply text-xl;
}

.MuiSwipeableDrawer-paper {
  @apply bg-gray-400;
}
