.button {
  @apply py-2 px-10;
}

.common {
  @apply relative border border-gray-400 rounded-2xl transition-colors focus-within:border-primary;

  > label {
    @apply block;

    > span {
      @apply text-xs uppercase text-gray-600 block;
    }
  }
}
.subtitle {
  @apply text-xl mb-2;
}
.field {
  @apply mb-[1.5vh];

  input {
    @apply outline-border-none focus:ring-0 bg-transparent text-gray-700 w-full  h-10 px-[1vw]  text-base;
  }
}

.uploadField {
  @apply h-full   w-full;

  .uploadImageContainer {
    @apply shrink-0 relative mb-10 h-full border-dashed border border-gray-300 rounded-xl;

    img {
      @apply image-like-bg  w-[72px] h-[72px];
    }

    .loader {
      @apply h-full bottom-0;
      position: absolute !important;
    }
    .imageWork {
      @apply rounded-md -z-10   w-[90vw]  h-full;
      object-fit: cover;
    }

    > span {
      @apply animate-fade;
    }
    .uploadContainerSvg {
      @apply -z-10 text-gray-400 w-64 text-center h-32;
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      img {
        @apply w-32 h-[88px] mx-auto;
      }
    }
    > label {
      @apply w-full relative h-full;

      .error {
        @apply relative -bottom-3;
      }

      > input {
        @apply block  w-full h-full  cursor-pointer opacity-0 z-50;
      }
    }
  }
}

.error {
  @apply absolute -bottom-6 left-0 text-sm w-full text-primary;
}
@media (max-width: 700px) {
  .uploadField {
    @apply w-full;
    .uploadImageContainer {
      @apply mb-0 max-w-[90vw];

      .imageWork{
        @apply h-auto;
      }
      
      .uploadContainerSvg {
        @apply absolute;
      }
      > label {
        @apply h-full flex; 
        > input {
          flex: 1; /* Растягиваем input на всю доступную ширину внутри label */
          height: 100%;
        }
      }
    }
  }
  .common {
    @apply rounded-xl mb-6;
  }
}
