.button {
  @apply py-2 px-10;
}

.common {
  @apply relative border border-gray-400 rounded-2xl transition-colors focus-within:border-primary;

  > label {
    @apply block;

    > span {
      @apply text-xs uppercase text-gray-600 block;
    }
  }
}
.subtitle {
  @apply text-xl mb-2;
}
.field {
  @apply  mb-[1.5vh]; ;

  input {
    @apply outline-border-none focus:ring-0 bg-transparent text-gray-700 w-full  h-10 px-[1vw]  text-base;
   
  }
}

.uploadField {
  @apply relative;

  > .uploadImageContainer {
    @apply shrink-0 relative h-[20vw] border border-gray-400;

    img {
      @apply rounded-md;
      object-fit: contain; /* или другое значение, например, cover */
      object-position: center center;
    }

    > span {
      @apply animate-fade;
    }
    .uploadContainerSvg {
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

  > label {
    @apply block mr-6;

    .error {
      @apply relative -bottom-3;
    }

    > span {
      @apply text-xs uppercase text-gray-600 block mb-4;
    }

    > input {
      @apply block w-[25%]   mx-0 text-sm text-gray-600 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-primary opacity-70 file:text-white transition-opacity;
      @media (max-width: 700px) {
      @apply w-[45%]
      }
  
    }
    
    &:hover > input {
      @apply opacity-100;
    }
  }
}

.error {
  @apply absolute -bottom-6 left-0 text-sm w-full text-primary;
}
@media (max-width: 700px) {
  .uploadField {
    .uploadImageContainer {
      @apply h-[60vw];
    }
  }
  .common {
	@apply  rounded-xl mb-6;
  }
}
