/* CustomDatePicker.css */
.react-datepicker-wrapper {
  @apply w-full relative;
}

.custom-datepicker {
  border: 2px solid #cbd5e1; /* Default border color */
  border-radius: 16px !important; /* Rounded corners */
  width: 100%; /* Full width */
  font-size: 16px; /* Font size */
  outline: none; /* Remove outline */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}


/* Styles for focus state */
.custom-datepicker:focus-within {
  border-color: #1c60c5 !important; /* Change border color on focus */
  box-shadow: 0 0 0 3px rgba(28, 96, 197, 0.3); /* Ring effect on focus */
}

/* Styles for hover state */
.custom-datepicker:hover {
  border-color: #a0aec0; /* Change border color on hover */
  box-shadow: 0 0 0 3px rgba(28, 96, 197, 0.3); /* Optional hover ring effect */
}

/* Стили для календаря */
.custom-calendar {
  z-index: 400;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Стили для заголовка календаря */
.react-datepicker__header {
  @apply pt-2 border-b border-gray-300 mx-2;
  background-color: #fff;
  /* Цвет фона заголовка */
  color: white; /* Цвет текста заголовка */
  text-transform: capitalize;
}

/* Стили для дней месяца */
.react-datepicker__day {
  border-radius: 8px;
  font-size: 12px;
}

/* Стили для выбранного дня */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  @apply bg-blue-500; /* Цвет фона выбранного дня */
  color: white; /* Цвет текста выбранного дня */
}

/* Стили для hover эффектов */
.react-datepicker__day:hover {
  background-color: #f0f0f0; /* Цвет фона при наведении */
}

.react-datepicker__day--disabled:hover {
  background-color: transparent; /* Убираем фон при наведении для недоступных дней */
}

/* Стили для текущего дня */
.react-datepicker__day--today {
  border: 1px solid #007bff; /* Обводка для текущего дня */
  font-weight: bold;
}

/* Стили для навигации (кнопки переключения месяцев и годов) */
.react-datepicker__navigation--next,
.react-datepicker__navigation--previous {
  color: #007bff; /* Цвет стрелок */
}

/* Стили для инпутов */
.react-datepicker__input-container input {
  border: 2px solid #cbd5e1; /* Default border color */
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

/* Стили для поппера (выезжающая часть календаря) */
.react-datepicker-popper {
  z-index: 1050; /* Убедитесь, что календарь отображается поверх других элементов */
}
