.search {
	@apply     flex items-center transition-colors text-[2vh] z-20 ;
	> svg {
		@apply fill-gray-600 mr-2 text-3xl transition-colors;
	}

	> input {
		@apply w-full  border-2 border-gray-300 rounded-2xl py-1 px-[2vw] text-gray-700 bg-gray-300
		hover:border-gray-300 hover:border-2 hover:bg-white
		focus:border-gray-400 focus:text-gray-400 placeholder:text-gray-600   outline-none;
		transition: all 0.2s ease; /* Анимация светлой тени */
  
	  &::placeholder {
		color: #ccc; /* Цвет подсветки для placeholder */
	  }
  
	  &:focus {
		box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); /* Светлая тень с размытием при фокусе */
	  }
		@media (max-screen: 960) {
				visibility: hidden;
		}
	}

	&:focus-within {
		@apply border-gray-600;
		> svg {
			@apply fill-gray-400;
		}
	}
}

