.container {
  @apply text-center text-white;
  height: 755px;
  background: url("./assets/images/MainPageCover.png") no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .iconContent {
    padding-top: 379px;
    padding-bottom: 205px;
    img{
        margin: 0 auto;
    }
   
    h4 {
      @apply mt-16 text-3xl;
    }
  }
  .detailed {
    height: 255px;
    padding: 104px 0px;
    @apply bg-primary text-4xl ;

   
  }
}
