.messenger {
  @apply flex max-w-7xl mx-auto relative  h-[90vh];

  .chatMenu {
    @apply mt-[1vw] pr-12 text-3xl ;
    width: 50%;
    transition: left 0.3s ease;
  }

  .buttonBlock {
    @apply w-[24%]   h-[35px] mt-[50%];
    display: none;
    .toggleButton {
      position: fixed;
      z-index: 10;
      position: absolute;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
    @media (max-width: 700px) {
      @apply block;
    }
  }
  .chatBox {
    @apply w-[120vw]  h-full;

    .chatBoxWrapper {
      @apply mt-[1vw]  h-full;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      .noConversationText {
        position: absolute;
        margin-left: 10%;
        margin-top: 40%;
        font-size: 50px;
        color: rgb(224, 220, 220);
        cursor: default;
        user-select: none;
      }
      .chatBoxTop {
        @apply overflow-y-scroll h-[120%] ;

        overflow: auto;
        scrollbar-width: thin; /* для Firefox */
        scrollbar-color: transparent transparent; /* для Firefox */
        -ms-overflow-style: none; /* для IE и Edge */

        &::-webkit-scrollbar {
          width: 0px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
      .chatBoxBottomContainer {
        @apply bg-white w-full;
        z-index: 10;
        .chatBoxBottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .chatMessageInput {
            width: 90%;
          }
          .chatSubmitButton {
            @apply w-10 h-10 -mt-2;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .buttonBlock {
      @apply mt-4;
    }
  }
}
@media (max-width: 700px) {
  .messenger {
    @apply h-[90vh];
    .chatMenu {
      @apply absolute h-[90vh] pr-0 pt-3 pl-2 bg-gray-300 z-20 w-[80%];
      left: -600px;
      .title {
        @apply text-2xl;
      }
    }
    .chatBox {

        @apply h-full mt-3;
      .chatBoxWrapper {
        @apply h-full;
        .chatBoxTop{
          @apply h-[120%];
        }
        .chatBoxBottom {
          @apply w-full;
        }
      }
    }

    .menuOpen {
      left: 0 !important;
    }
  }
}
