.messenger {
  @apply flex max-w-7xl mx-auto relative  h-[90vh] border-r border-gray-300;
  .chatMenu {
    @apply mt-[1vw] pt-4 px-2 h-full  text-3xl border-x-[1px] border-gray-300;
    width: 50%;
    overflow-y: hidden; /* Изначально скрываем скроллбар */
    overflow-x: hidden;
}

.chatMenu:hover {
  overflow-y: auto; /* Показываем скроллбар при наведении */
}

.chatMenu::-webkit-scrollbar {
  width: 0px;
  background-color: transparent; /* Делаем скроллбар прозрачным */
}
  .buttonBlock {
    @apply w-[24%]   h-[35px] mt-[50%];
    display: none;
    .toggleButton {
      position: fixed;
      z-index: 10;
      position: absolute;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }
    @media (max-width: 700px) {
      @apply block;
    }
  }
  .chatBox {
    @apply w-full   h-full;

    .chatBoxWrapper {
      @apply mt-[1vw]  h-full ;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      .chatBlockFriend{
        @apply flex py-3 border-b border-gray-300 pl-10 items-center;
        img{
          @apply w-12 h-12 rounded-full  image-like-bg mr-3;
        }
        p{
          @apply text-lg font-bold ;
        }
      }
      .noConversationText {
        position: absolute;
        margin-left: 10%;
        margin-top: 40%;
        font-size: 50px;
        color: rgb(224, 220, 220);
        cursor: default;
        user-select: none;
      }
      .chatBoxTop {
        @apply overflow-y-scroll h-[120%] w-[80%] mx-auto;

        overflow: auto;
        scrollbar-width: thin; /* для Firefox */
        scrollbar-color: transparent transparent; /* для Firefox */
        -ms-overflow-style: none; /* для IE и Edge */

        &::-webkit-scrollbar {
          width: 0px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
      .chatBoxBottomContainer {
        @apply bg-white w-[80%] mx-auto;
        z-index: 10;
        .chatBoxBottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .chatMessageInput {
            width: 90%;
          }
          .chatSubmitButton {
            @apply w-10 h-10 -mt-2;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
    }
    .buttonBlock {
      @apply h-auto w-auto my-auto mr-4 ;
      
    }
  }
}
@media (max-width: 700px) {
  .messenger {
    @apply h-[75vh] mt-16;
    .chatMenu {
      @apply absolute h-[110%]  pr-0 pt-3 pl-2 bg-gray-300 z-20 w-full;
      left: -600px;
      .title {
        @apply text-2xl;
      }
    }
    .chatBox {

        @apply h-full ;
      .chatBoxWrapper {
        @apply h-[80vh];
        .chatBlockFriend{
          @apply pl-2;
        }
        .chatBoxTop{
          @apply h-[120%]  w-full;
        }
        .chatBoxBottom {
          @apply w-full ;
        
        }
      }
    }

    .menuOpen {
      left: 0 !important;
    }
  }
}
