.block {
    @apply mt-[9vh];
    .links {
      @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        a {
          @apply text-[4vw];
          min-width: 100vw;
          &:first-child {
            border: none;
            border-bottom: 1px solid black;
          }
        }
      }
  
      @apply text-[3.5vw];
  
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid black;
      a {
        @apply py-[14%];
        width: 50%;
        flex: 1 0 auto;
        &:first-child {
          border-right: 1px solid black;
        }
      }
  
      a:hover {
        @apply bg-[#E7F5FF];
      }
    }
    p {
      margin: 0 auto;
      width: 50vw;
      @apply text-[2.8vh] text-center mt-[5vh];
      @media (max-width: 800px) {
        @apply w-[90vw];
      }
    }
  }
  