.list {
  @apply absolute w-full animate-fade z-10 bg-gray-300  rounded-md py-10 px-10 mt-[1vw];

  top: calc(100% + 15px);

  > a {
    @apply flex items-center mb-4 relative bg-white rounded-2xl transition-all duration-300 ease-in-out;

    &:hover {
      @apply bg-gray-400;
    }

    &:hover .textBlock {
      @apply text-white;
    }

    .textBlock {
      @apply ml-8 text-gray-600 truncate text-[2vw] h-full my-[1vh];
      text-transform: capitalize;
      &:last-child {
        width: 70%;
      }
      .author {
        @apply flex items-center mt-[2vh];
        .profileImg {
          @apply image-like-bg rounded-full h-[30px] w-[30px] mr-3;
        }
        p {
          @apply text-[1vw];
        }
      }
      .link {
        @apply text-white  text-[2vh];
      }
    }
  }
}
