.wrapper {
  @apply absolute  animate-fade z-10 bg-primary bg-opacity-70  w-full  py-[6vh] px-[3vw] mt-[1vw] cursor-pointer;
  backdrop-filter: blur(10px);
  max-height: 92vh;
  left: 0;
  top: calc(78%);
  overflow-y: auto;
  z-index: 10;
  .list {
    @apply bg-white w-[70vw] min-h-[80vh] p-10 rounded-xl;

    > a {
      @apply flex items-center mb-4 max-w-[1000px] relative border-2 border-gray-300 rounded-2xl transition-all duration-300 ease-in-out;

      &:hover {
        -webkit-box-shadow: -1px 16px 40px -25px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 16px 40px -25px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 16px 40px -25px rgba(0, 0, 0, 0.75);
      }

      .textBlock {
        @apply ml-8 text-gray-600 truncate text-[2vw] h-full my-[1vh];
        text-transform: capitalize;
        &:last-child {
          width: 70%;
        }
        .author {
          @apply flex items-center mt-[2vh];
          .profileImg {
            @apply image-like-bg rounded-full h-[30px] w-[30px] mr-3;
          }
          p {
            @apply text-[1vw];
          }
        }
        .link {
          @apply text-white  text-[2vh]  ml-auto;
        }
      }
      &:hover {
        .textBlock {
          .link {
            @apply text-gray-450;
          }
        }
      }
    }
  }

  
}
@media (max-width: 700px) {
  .wrapper {
    @apply  min-h-[90vh]  ;
    .list {
      @apply w-[80vw] p-6 mx-auto;
      > a {
        @apply mb-2;
        > img {
          @apply w-[150px];
        }

        .textBlock {
          @apply ml-2  text-sm h-full my-[1vh];
          text-transform: capitalize;
          &:last-child {
            width: 70%;
          }
          .author {
            @apply flex items-center mt-2;
            .profileImg {
              @apply image-like-bg rounded-full h-[20px] w-[20px] mr-1;
            }
            p {
              @apply text-xs;
            }
          }
          .link {
            @apply text-sm;
          }
        }
      }
    }
  }
}