
.uploadField {
	@apply relative flex items-center ;
	
		

		> .uploadImageContainer {
			@apply shrink-0 relative mr-4 ;

			img {
				@apply image-like-bg rounded-full w-[72px] h-[72px] ;
			}

			> span {
				@apply animate-fade;
			}
			.uploadContainerSvg{
				position: absolute;
				margin: auto;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
			}
		}

		> label {
			@apply block mr-6;

			.error {
				@apply relative -bottom-3;
			}

			> span {
				@apply text-xs uppercase text-gray-600 block mb-4;
			}

			> input {
				@apply w-[127px] block  text-sm text-gray-600 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-primary opacity-70 file:text-white transition-opacity;
			}

			&:hover > input {
				@apply opacity-100;
			}
		}
	}
