.item {
  @apply flex p-3 h-[90px] w-[30vw] items-center cursor-pointer;
  &:hover {
    @apply bg-gray-300;
  }
  &::active {
    @apply bg-gray-400;
  }
  .avatar {
    @apply image-like-bg rounded-full w-[60px] h-[60px] mr-4;
  }
  .textBlock {
    @apply w-[80%] relative;
    .nickname {
      @apply text-2xl;
    }
    .lastMessage {
      @apply text-lg flex justify-between w-full -mt-1;
      .text {
     @apply w-[60%];
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .timestamp {
        @apply absolute top-3 right-2;
      }
    }
  }
}
@media (max-width: 700px) {
  .item {
    @apply h-[55px] w-full mb-2;

    .avatar {
      @apply w-10 h-10 mr-2;
    }
    .textBlock {
      @apply -mt-3;
      .nickname {
        @apply text-xl ;
      }
      .lastMessage {
        @apply w-full ;
        .text {
       @apply w-[60%] text-base -mt-2; 
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .timestamp {
          @apply absolute top-3 right-2;
        }
      }
    }
  }
}
