.wrapper {
  @apply mt-32 mx-auto;
  overflow: visible; /* Разрешить видимость "выхода" за пределы .wrapper */

  .navigation {
    @apply flex mt-10 mb-12 relative px-[10%];
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0.1vw; /* Высота вашего border */
      background-color: #eaeaea; /* Цвет вашего border */
      z-index: -50;
    }
    > li {
      @apply mr-10  text-gray-450 transition-all  ease-in-out;
      > button {
        @apply text-xl mb-3;
      }
      &.active {
        @apply border-b-[1px] border-gray-600 z-20 text-gray-700;
      }
    }
  }
}

.subscriptionTitle {
  @apply mb-8 flex  justify-between max-w-[1736px] px-4;
  .title {
    @apply text-2xl font-semibold;
  }
  .buttonBlock {
    @apply w-[15%];
    .firstButton {
      @apply flex items-center text-xl font-semibold bg-primary text-white w-full text-center py-4 rounded-lg;

      justify-content: center;
      text-align: center;
      .checkmark {
        @apply mr-4;
      }
    }
    .secondButton {
      @apply flex items-center text-xl font-semibold  bg-primary text-white w-full py-4 rounded-lg;
      justify-content: center;
      text-align: center;
      .checkmark {
        @apply mr-4;
      }
    }
  }
}
@media (max-width: 700px) {
  .wrapper {
    .navigation {
      > li {
        > button {
          @apply text-base mb-[1vw];
        }
        &.active {
          @apply border-b-[0.1vw]  border-gray-600 z-20 text-gray-700;
          margin-bottom: -0.5px;
        }
      }
    }
  }

  .subscriptionTitle {
    @apply mb-3 items-center;
    .title {
      @apply text-base;
    }
    .buttonBlock {
      @apply w-[47%];
      .firstButton {
        @apply text-base px-3 py-2;
        .checkmark {
          @apply mr-2 h-2.5;
        }
      }
      .secondButton {
        @apply text-base px-5 py-2;
        .checkmark {
          @apply mr-2 h-2.5;
        }
      }
    }
  }
}
