.container{
    background: url("../../../common/images/ui/mainPage/RegisterBanner.jpg") no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 18vw 0px;
 
  
  div{
    @apply text-left ml-[10vw];
    width: 70%; 
   

    h1{
        @apply mb-[3vw] text-[3.8vw] font-bold text-primary ;
      
    }

    a{
        @apply text-primary text-[1vw] font-semibold rounded-xl;
        border: 0.1vw solid #000;
      
        padding: 0.7vw 1vw;
    }
  }
  @media (max-width: 700px) {
    div{
      @apply ml-[4vw];
      h1{
        @apply text-[7vw];
      }
     a{
      @apply text-[5vw] rounded-[3vw] border-[0.3vw]
     }
    }
  }
}