.dropdown {
  @apply ml-[1.1vw];
  position: relative;
  display: flex;
  justify-content: space-between;


  .dropdownItems {
    @apply border border-gray-300 py-8 px-6 right-6 top-12 rounded-2xl w-[300px] bg-white;
    margin-top: 0.7vw;
    position: absolute;
    transform-origin: top center; /* Set the transform origin to the top center */
    transform: scale(0); /* Start with zero scale */
    opacity: 0; /* Start with zero opacity */
    display: block;

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    .topBlock {
      @apply mb-10;
      .avatar {
        @apply rounded-full w-20 h-20 mx-auto mb-4 image-like-bg;
      }
      h2 {
        @apply text-xl text-center;
      }
    }
    > a {
      @apply text-xl rounded-xl ;
      display: block;
      cursor: pointer;
      padding: 0.7vw 6px;

      text-decoration: none;
      transition: background-color 0.3s ease-in-out;

      svg {
        @apply w-[15%] pb-1;
      }
      &:hover {
        @apply bg-[#f0f0f0];
      }
    }
    .line {
      @apply relative h-[1px] my-2;
      width: 100%; /* Ширина линии */
      &::after {
        @apply border-b border-gray-300 absolute bottom-0 left-0 w-full;
        content: "";
      }
    }
    // > a:last-child{
    //   @apply border-t border-gray-300 pt-3 mt-3;
    // }
  }

  &.open {
    @apply text-primary;
    .dropdownItems {
      transform: scale(1); /* Expand to full size when open */
      opacity: 1;
    }
  }
}

@media (max-width: 600px) {
  .dropdown {
    
    .dropdownItems {
      @apply w-[100vw] right-[-1.1rem] top-[4.5rem] border-t-0;
    }
  }
}
