.button {
    @apply py-2 px-10;
  }
  
  .common {
    @apply relative border border-gray-400 rounded-2xl transition-colors focus-within:border-primary;
  
    > label {
      @apply block;
  
      > span {
        @apply text-xs uppercase text-gray-600 block;
      }
    }
  }
  .subtitle {
    @apply text-4xl font-bold mb-2;
  }
  .field {
    @apply mb-[1.5vh];
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input {
      @apply outline-border-none focus:ring-0 bg-transparent h-10 text-gray-700 w-full  px-[1vw]  text-base;
      
    }
  }
  
  .uploadField {
    @apply h-full   w-full;
    .uploadImageContainerWithImage {
      height: 50vh !important;
    }
    .uploadImageContainer {
      @apply shrink-0 relative mb-10  border-dashed border w-full border-gray-300 rounded-xl;
  
      height: 80vh;
      img {
        @apply image-like-bg  w-[72px] h-[72px];
      }
  
      .loader {
        @apply h-full bottom-0;
        position: absolute !important;
      }
      .imageWork {
        @apply rounded-md -z-10   w-[90vw]  h-full;
        object-fit: cover;
      }
  
      > span {
        @apply animate-fade;
      }
      .uploadContainerSvg {
        @apply -z-10 text-gray-400 w-64 text-center h-32;
        position: absolute;
        margin: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        img {
          @apply w-32 h-[88px] mx-auto;
        }
      }
      > label {
        @apply w-full relative h-full;
  
        .error {
          @apply relative -bottom-3;
        }
  
        > input {
          @apply block  w-full h-full  cursor-pointer opacity-0 z-50;
        }
      }
    }
  
    .imageList {
      @apply flex gap-4;
      .uploadedImageContainer {
        @apply relative;
        .uploadedImage {
          @apply rounded-2xl h-auto image-like-bg cursor-pointer;
        }
        .removeImageButton {
          @apply absolute  rounded-full  cursor-pointer w-8 h-8;
          top: 5px;
          right: 5px;
          background-color: rgba(234, 234, 234, 0.5 );
  backdrop-filter: blur(10px);
      
         
          display: none; /* Скрыть кнопку по умолчанию */
          opacity: 0; /* Начальная непрозрачность */
          transition: opacity 0.3s ease, display 0.3s ease; /* Переход для opacity и display */
        }
  
        &:hover .removeImageButton {
          display: block; /* Показывать кнопку при наведении на контейнер изображения */
          opacity: 1; /* Полная непрозрачность */
        }
      }
    }
  
   
  
    .zoomedImageOverlay {
      /* Стили для оверлея увеличенного изображения */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
  
    .zoomedImageContainer {
      /* Стили для контейнера увеличенного изображения */
      position: relative;
      max-width: 90%;
      max-height: 90%;
      overflow: hidden;
    }
  
    .closeZoom {
      /* Стили для кнопки закрытия увеличенного изображения */
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
  
  .error {
    @apply absolute -bottom-6 left-0 text-sm w-full text-primary;
  }
  @media (max-width: 700px) {
    .uploadField {
      @apply w-full h-full;
  
      .uploadImageContainer {
        @apply mb-0 max-w-[90vw] h-full;
  
        .imageWork {
          @apply h-auto;
        }
  
        .uploadContainerSvg {
          @apply absolute;
        }
        > label {
          @apply h-full flex;
          > input {
            flex: 1; /* Растягиваем input на всю доступную ширину внутри label */
            height: 100%;
          }
        }
      }
    }
    .common {
      @apply rounded-xl mb-6;
    }
  }
  