/* Общий контейнер для сообщения */
.message {
  @apply flex flex-col  rounded-xl m-2;
  width: fit-content;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 500px;
}

/* Стиль для собственных сообщений */
.ownMessage {
  align-self: flex-end;
  margin-left: auto; /* Установим margin-left в auto для сдвига вправо */
  background-color: #0088cc; /* Цвет фона для собственных сообщений */
  color: #fff; /* Цвет текста для собственных сообщений */
  .messageBottom {
    @apply text-white;
  }
}

/* Стиль для сообщений от друзей */
.friendMessage {
  align-self: flex-start;
  background-color: #e4e6eb; /* Цвет фона для сообщений от друзей */
}



.messageTextBlock{
  @apply flex px-[10px] py-[6px] justify-between;
}
/* Стиль текста сообщения */
.messageText {
  @apply text-xl px-[10px] py-[6px];
  margin-right: 15px;
  word-break: break-all;
  overflow-wrap: break-word; /* Дополнительная поддержка для переноса слов */
  max-width: 100%;
}

/* Стиль нижней части сообщения */
.messageBottom {
  @apply flex;
  align-self: flex-end;
  font-size: 12px;
  color: #777;
  .checkMessage {
    svg {
      @apply w-4 h-4 ml-[2px];
    }
  }
}

/* Стили для изображений в сообщении */
.imageContainer {
  @apply rounded-xl;
 
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  
}

.imageWrapper {
  @apply rounded-t-lg;
  max-width: 500px;
  height: auto;
  overflow: hidden;
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для изображений */
}

.messageImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обеспечиваем, чтобы изображение заполнило контейнер, сохраняя пропорции */
}

.pdfContainer{
  .pdfWrapper{
    @apply px-2;
    .pdfDocument:hover{
      @apply underline;
    }
  }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 700px) {
  .message {
    max-width: 250px;
  }
  .messageTextBlock{

    padding: 6px;

  }
  .messageText {
    @apply px-[0px] py-[0px] text-sm mr-2;
  }
  .messageBottom {
    @apply text-[10px];
  }
  
  /* Стили для изображений на мобильных */
  .imageContainer {
    gap: 4px;
  }

  .imageWrapper {
    max-width: 120px; /* Уменьшаем размер изображения на мобильных */
  }
}
