.container {
  @apply -mt-[7vh]  mx-auto h-[100vh] px-2 max-w-[600px];
  .block {
    .title {
      @apply uppercase text-3xl mx-auto text-center font-bold mb-10;
    }
    .serviceList {
      @apply flex flex-wrap justify-center gap-4   h-[80%];
      margin-top: 1.5rem;
      list-style-type: none;
      padding: 0;
      .item {
        @apply text-xl  font-bold h-auto border  justify-start select-none 
        w-full cursor-pointer rounded-3xl max-w-full  text-start items-center;
      
        transition: background-color 0.3s, transform 0.2s ease-in-out,
          box-shadow 0.3s; /* Плавные переходы */
        gap: 5px; /* Расстояние между элементами заголовка и описания */
        .itemHeader{
          @apply w-full py-3 pl-3 items-center;
        }
      }
      .activeItem {
        @apply bg-blue-500 text-white;
        box-shadow: 0 0 10px rgba(59, 130, 246, 0.2); /* Тень для активного элемента */
        transform: scale(1.01); /* Легкое увеличение размера */
      }
      .inactiveItem {
        color: #1f2937; /* Темный текст */
        &:hover {
          @apply bg-gray-300;
        }
      }
    }
    .linkTitle {
      @apply text-2xl font-bold mb-2;
    }
    .buttonBlock{
      @apply w-full fixed bottom-0 left-0 px-4 pb-4 bg-white; 
    }
    .linkTitle {
      @apply text-xl my-3;
    }
  }
}
.itemHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.description {
  @apply text-lg text-primary px-3 pb-3;
 
}
.arrow {
  @apply my-auto relative pl-4 cursor-pointer text-gray-600 ml-2 py-3 pr-3; // Добавляем отступ слева для стрелки
  &::before {
    @apply bg-gray-600;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
  }
}
@media (max-width: 700px) {
  .container {
    @apply pt-2 ;
    height: calc(100vh - 60px);
    .block {
      .title {
        @apply text-[28px] bg-white rounded-2xl mt-2 mb-4;
      }
      .serviceList {
        @apply flex mt-0 justify-normal w-full gap-2 rounded-2xl p-2  items-start overflow-auto;
        align-content: start;
        .item {
          @apply text-xl  font-bold h-auto border  justify-start select-none 
          w-full cursor-pointer rounded-3xl max-w-full px-3 text-start items-center;
        
          transition: background-color 0.3s, transform 0.2s ease-in-out,
            box-shadow 0.3s; /* Плавные переходы */
          gap: 5px; /* Расстояние между элементами заголовка и описания */
          
        }
        .activeItem {
          @apply bg-blue-500 text-white;
          box-shadow: 0 0 10px rgba(59, 130, 246, 0.2); /* Тень для активного элемента */
          transform: scale(1.01); /* Легкое увеличение размера */
          .description {
            @apply text-white; // Показываем при раскрытии
          }
          .arrow {
            @apply text-white;
            &::before {
              @apply bg-white;
            }
          }
        }
      }
      
    }
  }
}
