.container {
  @apply pt-8  mx-auto nav-height md:h-[100vh]   bg-[#f0f0f0];
  .block {
    @apply max-w-[600px] mx-auto;
    .title {
      @apply uppercase text-3xl tracking-tighter italic font-medium text-primary   mt-2 mb-4 mx-auto md:mb-10 pl-2  pb-2 border-b border-b-gray-450;
    }

    .serviceList {
      @apply flex flex-wrap justify-center gap-3 md:gap-4   mx-2  md:mx-0 h-[80%];
      margin-top: 1.5rem;
      list-style-type: none;
      padding: 0;
      .item {
        @apply text-xl   font-medium min-h-[80px] bg-[#e7e7e7] justify-start select-none 
        w-full cursor-pointer rounded-3xl max-w-full items-center  px-2     text-start;

        transition: background-color 0.3s, transform 0.2s ease-in-out,
          box-shadow 0.3s; /* Плавные переходы */
        /* Расстояние между элементами заголовка и описания */
        .itemHeader {
          @apply w-full p-3 items-center;
        }
      }
      .activeItem {
        @apply bg-blue-500 text-white;
        box-shadow: 0 0 10px rgba(59, 130, 246, 0.2); /* Тень для активного элемента */
        transform: scale(1.01); /* Легкое увеличение размера */
      }
      .inactiveItem {
        color: #1f2937; /* Темный текст */
        &:hover {
          @apply bg-gray-300;
        }
      }
    }
    .linkTitle {
      @apply text-2xl font-bold mb-2;
    }
    .buttonBlock {
      @apply w-full  flex justify-center fixed bottom-0 left-0 px-4 pb-4 bg-[#f0f0f0];
    }
    .linkTitle {
      @apply text-xl my-3;
    }
  }
}
.itemHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.description {
  @apply text-lg text-primary px-3 pb-3;
}
.arrow {
  @apply my-auto relative pl-4 cursor-pointer text-gray-600 ml-2 py-3 pr-3; // Добавляем отступ слева для стрелки
  &::before {
    @apply bg-gray-600;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
  }
}
