.content{
    @apply flex mb-20;
    justify-content: center;
    

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
   
}

.text{
    @apply text-primary text-left mt-20 pl-20;
    width: 960px;

    h1{
        @apply text-6xl mb-6;
    }
    p{
        @apply text-2xl;
        width: 788px;
    }

}}